<!DOCTYPE html>
<html>

<head>
	<title>Forgot Password</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/main.css">

	<script type="text/javascript">
		$(document).ready(function() {
			$("#form2").submit(function(event) {
				event.preventDefault();

				var passwords = document.getElementsByName("password");
				if (passwords[0].value != passwords[1].value) {
					alert("Passwords do not match\nPlease try again");
				} else {
					$.ajax({
						type: 'POST',
						url: '/forgotpass',
						data: $('#form2').serialize(),
						dataType: "json",
						success: function(response) {
							if (response.Failure) {
								document.getElementById("mssg").classList.add("bg-danger");
								document.getElementById("respMssg").innerHTML = response.Failure;
							} else {
								$('#form2')[0].reset();
								
								document.getElementById("mssg").classList.add("bg-success");
								// Display the success message from the response
								document.getElementById("respMssg").innerHTML = response.Success;

								setTimeout(function(){
									document.getElementById("loginLink").click();
								},3000);
							}
						}, error: function() {
							document.getElementById("mssg").classList.add("bg-danger");
							document.getElementById("respMssg").innerHTML = "Unable to send data to the server<br />Please try again later";
						}
					});
				}
			});
		});
	</script>
</head>

<body>
		<div class="col-md-4 col-md-offset-4">
			<div>
				<p>Change Password</p>
			</div>

			<div>
				<p>Enter your email and set up a new password</p>
			</div>

			<div class="form-group">
				<form id="form2" method="post">
					<input type="text" name="email" placeholder="Email" class="form-control" required><br/>
					<input type="password" name="password" placeholder="Password" class="form-control" required><br/>
					<input type="password" name="password" placeholder="Confirm Password" class="form-control" required><br/>
					<input type="submit" value="Change Password" class="btn btn-success">
				</form>
			</div>

			<div class="mssg" id="mssg">
				<span id="respMssg"></span>
			</div>

			<div id="links">
				<span>Login? </span><a href="/login" id="loginLink">Click here</a>
			</div>
		</div>
</body>

</html>
